<div class="background-container" (scroll)="onScroll($event)">
    <mat-toolbar [ngClass]="{'home-menu': true, 'sticky' : isSticky}">
        <mat-toolbar-row>
            <button routerLink="/" mat-button>
              <img style="max-width: 50px;" src="assets/logo.png">
            </button>
            <span class="spacer"></span>
            <button routerLink="/" class="menu-item" mat-button>
              INICIO
            </button>
            <button routerLink="/about" class="menu-item" mat-button>
              NOSOTROS
            </button>
            <button routerLink="/coupons" class="menu-item" mat-button>
              CUPONERAS
            </button>
            <button routerLink="/contactus" class="menu-item" mat-button>
              CONTACTO
            </button>
            <button class="menu-mobile" [matMenuTriggerFor]="beforeMenu" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button routerLink="/" mat-menu-item>INICIO</button>
                <button routerLink="/about" mat-menu-item>NOSOTROS</button>
                <button routerLink="/coupons" mat-menu-item>CUPONERAS</button>
                <button routerLink="/contactus" mat-menu-item>CONTACTO</button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>