<div class="coupon-header">
    <img src="assets/contact.jpg">
    <h1 class="mat-headline">CONTÁCTANOS</h1>
</div>
<div class="padding">
    <p>
       Queremos saber sobre ti. Escríbenos.
    </p>
    <form class="form-full" [formGroup]="form">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Correo</mat-label>
          <input formControlName="email" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Teléfono</mat-label>
          <input formControlName="phone" matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Asunto</mat-label>
          <input formControlName="subject" matInput>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Déjanos tu mensaje</mat-label>
          <textarea formControlName="message" matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <button (click)="send()" mat-flat-button color="primary">ENVIAR</button>
    </form>
      
</div>